<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Dicoursify</title>
    <link rel="icon" type="image/svg" href="~/Content/logo/Logo.svg" />

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue sidebar-mini">

    @{ 
        Discoursify.Models.Login login = new Discoursify.Models.Login();
        bool status = false;
        if (Session["USER_NAME"] != null || Session["USER_EMAIL"] != null)
        {
            status = true;
        }


     }
    
    <div class="wrapper" style="background: #9fcaf5">
        <!-- Main Header wrapper -->
        <header class="main-header" style="height: 80px">
            <nav class="navbar navbar-expand-lg">
                <div class="container" style="margin-top: 15px">
                    <a class="navbar-brand" href="/Home/Index"><img src="~/Content/logo/Logo.svg" style="max-width: 100px; max-height: 100px; margin-top: -15px" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
                        <div style="display: flex; align-items: center">
                            <input style="width: 600px; height: 40px; border-radius: 5px;" type="text" id="searchInput" name="search" value="" placeholder="Explore posts" onkeydown="handleKeyDown(event)"/>
                            <button id="search-content"><span style="height: 40px; font-size: 33px"> &ensp;<i class="fa fa-search" aria-hidden="true"></i></span></button>
                        </div>
                    </div>


                    <div class="functional-buttons">

                        @if (status)
                        {
                            <ul style="list-style-type: none; margin: 0; padding: 0;">
                                <li style="display: inline-block; margin-right: 10px; font-size: 16px; color: beige">
                                    Welcome back <span style="font-weight: bold; color: blanchedalmond">@Session["USER_NAME"] !</span>
                                </li>

                                <li>
                                    <button onclick="window.location.href='/Profile/ViewProfile';" style="display: inline-block; padding: 10px 20px; background-color: #5193D3; color: #fff; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; font-size: 16px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#5193D3'">Profile <i class="fa fa-user" aria-hidden="true"></i></button>
                                </li>

                                <li style="display: inline-block; font-size: 16px;">
                                    <button onclick="window.location.href='/Login/Logout';" style="display: inline-block; padding: 10px 20px; background-color: #dc3545; color: #fff; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; font-size: 16px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#c82333'" onmouseout="this.style.backgroundColor='#dc3545'">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>

                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li>@Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Sign Up", "SignUp", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                        }

                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div>
        <section class="content">
            @RenderBody()
        </section>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
<script>
    document.getElementById("search-content").addEventListener("click", function () {
        var filter = document.getElementById("searchInput").value;
        window.location.href = "/Home/Index?filter=" + encodeURIComponent(filter);
    });

    function handleKeyDown(event) {
        if (event.keyCode === 13) {
            var filter = document.getElementById("searchInput").value;
            window.location.href = "/Home/Index?filter=" + encodeURIComponent(filter);
        }
    }
</script>


