@model Discoursify.Models.Post
@{
    ViewBag.Title = "Create";
    Layout = null;
    var postOwner = Session["USER_NAME"] != null ? Session["USER_NAME"].ToString() : "Unknown";
    var currentDate = DateTime.Now.ToString("dd MMMM yyyy hh:mm tt");
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Dicoursify</title>
    <link rel="icon" type="image/svg" href="~/Content/logo/Logo.svg" />

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

</head>

@if (TempData["Message"] != null)
{
    <style>
        .modal-content {
            background-color: #f8f9fa; /* Set the background color of the modal content */
            border-radius: 10px; /* Add rounded corners to the modal content */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow to the modal content */
        }

        .modal-header {
            background-color: #007bff; /* Set the background color of the modal header */
            color: #fff; /* Set the text color of the modal header */
        }
    </style>

    <script>
        setTimeout(function() {
            var message = '@TempData["Message"]';
            var cancelUrl = '@Url.Action("Index", "Home")';
            var loginUrl = '@Url.Action("Login", "Login")';

            var modalHtml = '<div id="alertModal" class="modal" tabindex="-1" role="dialog" style="display: block; background: #fffffc">';
            modalHtml += '<div class="modal-dialog" role="document">';
            modalHtml += '<div class="modal-content">';
            modalHtml += '<div class="modal-header" style="background: #9fcaf5">';
            modalHtml += '<h5 class="modal-title">Oops!</h5>';
            modalHtml += '</div>';
            modalHtml += '<div class="modal-body">';
            modalHtml += '<strong>' + message + '</strong>';
            modalHtml += '</div>';
            modalHtml += '<div class="modal-footer">';
            modalHtml += '<a href="' + cancelUrl + '" class="btn btn-secondary">Cancel</a>';
            modalHtml += '<a href="' + loginUrl + '" class="btn btn-primary">Login</a>';
            modalHtml += '</div>';
            modalHtml += '</div>';
            modalHtml += '</div>';
            modalHtml += '</div>';

            $('body').append(modalHtml);
        }, 1000);
    </script>
}
else
{

    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <div class="common-structure">
        <aside class="side-a"></aside>

        <main class="main-feed">
            @if (TempData["ErrorPost"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorPost"].ToString()
                </div>
            }

            @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { @class = "fancy-form", enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label for="title">Title:</label>
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @id = "title", @name = "title", @required = "required", @style = "height: 30px", @oninput = "updatePreview()" })
                </div>
                <div class="form-group">
                    <label for="main-poster">Main Poster Image:</label>
                    @Html.TextBoxFor(model => model.ImageFile, new { @class = "form-control-file", @type = "file", @id = "main-poster", @name = "main-poster", @accept = "image/*", @required = "required", @onchange = "loadFile(event)" })
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    @Html.TextAreaFor(Model => Model.Content, new { @class = "form-control", @rows = "8", @required = "required", @oninput = "updatePreview()", @id = "content" })
                </div>

                <div class="btn-container">
                    <button type="button" class="btn btn-back" onclick="window.location.href='/Home/Index'">Back?</button>
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </div>
            }

        <div class="preview">
            <h3 style="color: #616569; margin-bottom: 20px; text-align: center">Post Preview</h3>

            <div class="preview-owner">Posted by: @postOwner</div>
            <div class="preview-date">@currentDate</div>
            <h4 id="preview-title" style="font-size: 18px; margin-bottom: 10px">Title</h4>
            <img id="preview-image" src="" alt="Image Preview" style="display: none; margin-bottom: 10px">
            <p id="preview-content" style="margin-top: 20px">Content</p>
        </div>
        </main>

        <aside class="side-b"></aside>
    </div>

}
<script>
    function updatePreview() {
        document.getElementById('preview-title').innerText = document.getElementById('title').value;
        document.getElementById('preview-content').innerText = document.getElementById('content').value;
    }

    var loadFile = function (event) {
        var image = document.getElementById('preview-image');
        image.src = URL.createObjectURL(event.target.files[0]);
        image.style.display = 'block';
    };
</script>

<style>
    .fancy-form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f8f8f8;
    }

    .fancy-form label {
        font-weight: bold;
    }

    .fancy-form input[type="text"],
    .fancy-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .btn {
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-back {
        background-color: #6c757d;
        color: #fff;
        border: none;
        margin-right: 10px;
        font-size: 15px;
    }

    .fancy-form button[type="button"]:hover {
        background-color: #5a636a;
    }

    .fancy-form input[type="file"] {
        border: none;
        background-color: transparent;
        padding: 0;
        font-size: 14px;
    }

    .fancy-form button[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 16px;
        cursor: pointer;
    }

    .fancy-form button[type="submit"]:hover {
        background-color: #0056b3;
    }

    .preview {
        margin-top: 30px;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .preview-date, .preview-owner {
        margin-bottom: 10px;
        color: #777;
        font-size: 14px;
    }

    .preview h3 {
        color: #333;
    }

    .preview img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
        margin-top: 10px;
    }

    .preview p {
        color: #555;
    }
</style>
