@using Discoursify.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    LazyLoadView lazyLoadView = Model;
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>

    @if (ViewBag.SuccessMessage != null)
    {
        <script>
            $(document).ready(function () {
                // Display the success message as a modal dialog
                $('#successModal').modal('show');
            });
        </script>
    }

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="successModalLabel">Success!</h5>
                </div>
                <div class="modal-body" style="font-size: 20px">
                    <div class="text-center">
                        <i>Congrats 🎉</i>
                        <p style="font-size: 20px" class="lead">@ViewBag.SuccessMessage</p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center" style="font-size: 15px">
                    <button onclick="window.location.href='/Home/Index';" type="button" class="btn btn-outline-success" data-dismiss="modal" style="font-size: 15px">Close</button>
                </div>
            </div>
        </div>
    </div>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <button class="icon-button e-dark-mode-button u-animation-click" id="darkMode" aria-label="Dark Mode"><span class="icon" aria-hidden="true">🌜</span></button>

    <!-- partial:index.partial.html -->
    <div class="common-structure">

        <aside class="side-a" style="padding-left: 20px">
            <section class="common-section">
                <h2 class="section-title u-hide">User Navigation</h2>
                <ul class="common-list">
                    <li class="common-list-item">
                        <a href="/Post/Create" class="common-list-button">
                            <span class="icon">📝</span>
                            <span class="text">Write a post</span>
                        </a>
                    </li>
                    <li class="common-list-item">
                        <a href="/Topic/List" class="common-list-button">
                            <span class="icon" aria-hidden="true">💬</span>
                            <span class="text">Other topics</span>
                        </a>
                    </li>
                    <li class="common-list-item">
                        <a href="/Community/Join" class="common-list-button">
                            <span class="icon">👨&zwj;👦&zwj;👦</span>
                            <span class="text">Join a community</span>
                        </a>
                    </li>
                    <li class="common-list-item">
                        <a href="/FeedBack/Feedback" class="common-list-button">
                            <span class="icon">📩</span>
                            <span class="text">Drop a feedback</span>
                        </a>
                    </li>
                </ul>
            </section>

        </aside>
        <main class="main-feed">
            <ul class="main-feed-list">
                @foreach (var post in lazyLoadView.Posts)
                {
                    <li class="main-feed-item">
                        <article class="common-post">
                            <div class="common-post-content common-content">
                                <h4 style="margin-bottom: 10px">🧔 <b>@post.Owner</b></h4>
                                <p><b>@post.Title</b></p>

                                <p>
                                    @post.Content
                                </p>

                                <a class="embed-content" href="/Post/PostDetail?postKey=@post.UniqKey">
                                    <img class="embed-content-image" src="/Image/@post.ImageUrl" alt="">
                                </a>
                            </div>
                            <div class="summary u-flex">
                                <div class="reactions">👍</div>
                                <div class="reactions-total">@post.Like</div>
                                <div class="total-comments u-margin-inline-start">
                                    <a onclick="navigateToPostDetail('@post.UniqKey')">@post.CommentCount Comments</a>
                                </div>
                            </div>
                            <section class="actions-buttons">
                                <ul class="actions-buttons-list u-flex">
                                    <li class="actions-buttons-item">
                                        <button class="actions-buttons-button" onclick="upVote('@post.UniqKey')">
                                            <span class="icon">👍</span><span class="text">Up Vote</span>
                                        </button>
                                    </li>
                                    <li class="actions-buttons-item">
                                        <button class="actions-buttons-button" onclick="downVote('@post.UniqKey')">
                                            <span class="icon">👎</span><span class="text">Down Vote</span>
                                        </button>
                                    </li>
                                    <li class="actions-buttons-item">
                                        <button class="actions-buttons-button" onclick="navigateToPostDetail('@post.UniqKey')">
                                            <span class="icon">💬</span><span class="text">Comment</span>
                                        </button>
                                    </li>
                                </ul>
                            </section>
                        </article>
                    </li>
                }
                <div id="lazyLoadPlaceholder"></div>
            </ul>
        </main>
        <aside class="side-b" style="padding-right: 20px">
            <section class="common-section">
                <h2 class="section-title">Explore more...</h2>
                <ul class="common-list">
                    <li class="common-list-item">
                        <a href="https://www.w3schools.com/html/default.asp" target="_blank" class="common-list-button is-ads">
                            <div class="image"><img src="https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2022/04/web-developer-portfolio.webp" width="115" alt=""></div>
                            <div class="text">
                                <h4 class="ads-title">How to be a web developer?</h4>
                                <p class="ads-url">W3Schools.com</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="common-list">
                    <li class="common-list-item">
                        <a href="https://developer.android.com/courses?gad_source=1&gclid=EAIaIQobChMI-5yyssTQhAMVaF4PAh1VwQHwEAAYASAAEgKApvD_BwE&gclsrc=aw.ds" target="_blank" class="common-list-button is-ads">
                            <div class="image"><img src="https://assets.robogarden.cn/robogarden-cdn/robogarden-new/Articles/upload/blogs/lg-lean-to-code-to-be-a-mobile-developer.jpg" width="115" alt=""></div>
                            <div class="text">
                                <h4 class="ads-title">How to be a mobile developer?</h4>
                                <p class="ads-url">MobileDeveloper.com</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="common-list">
                    <li class="common-list-item">
                        <a href="https://jobify.works/" target="_blank" class="common-list-button is-ads">
                            <div class="image"><img src="https://img.etimg.com/thumb/msid-102034619,width-650,height-488,imgsize-41942,resizemode-75/job-offers.jpg" width="115" alt=""></div>
                            <div class="text">
                                <h4 class="ads-title">Looking for an opportunity to have an internship?</h4>
                                <p class="ads-url">Admin@Recruit.hire</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="common-list">
                    <li class="common-list-item">
                        <a href="https://www.labfront.com/?utm_term=analytics%20academic&utm_campaign=Labfront.com:+Jan+2022&utm_source=adwords&utm_medium=ppc&hsa_acc=9515928370&hsa_cam=15850831083&hsa_grp=135506529019&hsa_ad=591781276733&hsa_src=g&hsa_tgt=kwd-936556976070&hsa_kw=analytics%20academic&hsa_mt=b&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMIr5Twr8bQhAMVCaZmAh3IHww6EAAYASAAEgLeUfD_BwE" target="_blank" class="common-list-button is-ads">
                            <div class="image"><img src="https://online.maryville.edu/wp-content/uploads/sites/97/2023/10/MVU-MSBDA-2020-Q3-Skyscraper-Top-4-Data-Analysis-Techniques-That-Create-Business-Value-header-v2.jpg" width="115" alt=""></div>
                            <div class="text">
                                <h4 class="ads-title">Learning data analysis?</h4>
                                <p class="ads-url">DataAnalysis.learn</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <button onclick="window.location.href='/Explore/News'" class="common-more">
                    <span class="text">See More</span>
                    <span class="icon">🔍</span>
                </button>
            </section>
        </aside>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="~/Content/assets/js/script.js"></script>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/assets/js/owl.js"></script>
    <script src="~/Content/assets/js/accordions.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script language="text/Javascript">

        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }

        var currentPage = @Model.CurrentPage;
        var pageSize = @Model.PageSize;
        var totalPostsCount = @Model.TotalPostsCount;

        $(window).on('scroll', function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                loadMorePosts();
            }
        });

        function loadMorePosts() {
            if (currentPage * pageSize >= totalPostsCount) {
                return; // All posts have been loaded
            }

            var loadUrl = '@Url.Action("Index", "Home")';
            var nextPage = currentPage + 1;

            $.get(loadUrl, { page: nextPage, pageSize: pageSize })
                .done(function (data) {
                    $('#lazyLoadPlaceholder').append(data);

                    currentPage = nextPage;
                });
        }
    </script>

    @* Handle for post down vote, up vote and comment*@
    <script>

        function navigateToPostDetail(postKey) {
            window.location.href = '/Post/PostDetail?postKey=' + postKey + '#comment-section';
        }

        function upVote(postKey) {
            console.log("User up vote! " + postKey);
        }

        function downVote(postKey) {
            console.log("User down vote! " + postKey);
        }

    </script>

</body>